* {
	box-sizing: border-box;
}

.header-container{
	border-bottom: 2px solid black;
}

@media (max-width: 575px){
	.visible-xs {
		visibility: visible;
	}

	.col-xs-12 {
		width: 100%;
	}
}

@media (min-width: 576px) and (max-width: 768px){
	.visible-xs {
		visibility: visible;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.visible-xs {
		visibility: hidden;
	}
}

@media (min-width: 992px){
	.visible-xs {
		visibility: hidden;
	}
}

.navbar{
	padding: 0;
	background: #dddddd;
}

nav button.navbar-toggle {
	float: right;
}

ul#nav-list{
	background: #eaeaea;
}


a.nav-link, a.nav-link:hover{
	color: black;
	text-decoration: none;
	border-top: 1px solid #232323;
	text-align: center;
}

h1.page-header {
	margin: 10px auto 50px;
	padding-top: 70px;
}

div.container {
	margin: auto;
}

.menu-container {
	margin: 0 auto 20px;
	background: #dcdcdc;
	border: 1px solid #010101;
}
